body {
  display: flex;
  justify-content: center;   
}

.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 15px;
  display: flex;
  min-width: 800px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  gap: 15px;
}

a {
  font-size: 18px;
  background: white;
  padding: 8px;
  text-decoration: none;
}

