.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 5px;
  display: flex;
  min-width: 800px;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  gap: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}

